footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f8f9fa;
  height: 40px;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  gap: 35px;
}

.more-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  color: #58626b;
}

.more-information li {
  list-style: none;
  font-size: 8px;
}
.more-information li:first-child {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.more-information span {
  font-size: 8px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.icon {
  height: 15px;
}

@media screen and (max-width: 768px) {
  footer {
    position: relative;
  }
}

@media screen and (max-width: 530px) {
  footer {
    height: 128px;
    flex-direction: column;
    gap: 0px;
  }

  .more-information {
    display: grid;
    gap: 2px;
    text-align: center;
  }
  .more-information li:first-child {
    grid-row: 6;
    flex-direction: row-reverse;
    justify-content: center;
  }
}
